* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
}
.name {
  text-align: start;
  color: aliceblue;
}

.mylogo {
  border-radius:0.625em;
  
  height:3.125em;
  width:3.125em;
  margin: 0.625em;

}
main {
  height: auto;
  text-align: left;
}

.mainheading {
  font-family: "Raleway", sans-serif;
  font-size: 6.25em;
}
.define {
  font-family: "Roboto", sans-serif;
  font-size: 1.875emx;
}

main {
  background-color: lightgrey;
  color: black;
}

h6 {
  text-align: right;
}

main img {
  width: 12.5em;
  margin: 0.625em;
  border-radius: 1.25em;

}

p {
  text-align: left;
}

.whoisgoogle {
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 0.9375em;
}
footer {
  text-align: center;
  height: 4.375em;
  width: 100%;
  background-color: grey;
  color: black;
  bottom: 0;
}
footer ul {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: max-content;
}
li {
  display: inline-block;
  margin: 0.625em;
}

.active {
  background-color: black;
  padding: 0.2em;
}
.active {
  background-color: lightgreen;
}

#twitter {
  color: white;
}
#twitter:hover i {
  color: aqua;
}

@media only screen and (max-width: 740px) {
  header {
    background-color: grey;
  }
}

@media only screen and (max-width: 520px) {
  header {
    background-color: lightcoral;
    flex-direction: column;
  }
}

li a:hover {
  color:brown;

}
#facebook:hover i{color:deepskyblue;} 
#instagram:hover i{color:magenta;}
#youtube:hover i{color:red;}
footer li{padding: 0.4em;}
@media only screen and (max-width: 740px) {
  footer ul {
      display: flex;
      flex-direction: column;
  }
  footer{height:23em;}

  footer li {
      margin: 0;
  }
}