* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  background: url("custombackground.jpg") no-repeat center center fixed;
  background-size: cover;
}

header {
  background-color: black;
}
.name {
  text-align: start;
  color: aliceblue;
}
.mylogo {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
main {
  height: 100%;
  overflow: hidden;
}

li {
  border: 1px solid black;
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}
li:hover {
  background-color: lightblue;
}
i {
  align-self: center;
}
@media only screen and (max-width: 600px) {
  header {
    background-color: lightblue;
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  header {
    background-color: grey;
  }
}
footer {
  flex-direction: column;
}
@media only screen and (max-width: 400px) {
  .mini_container {
    background-color: lightcoral;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}
footer {
  height: 70px;
  width: 100%;
  background-color: grey;
  text-align: center;
  color: black;
  bottom: 0;
  margin-top: 18em;
}

.bottomlinks {
  text-decoration: none;
  border: none;
  flex-wrap: nowrap;
}
.bottomlinks:hover {
  background-color: grey;
}
.active {
  background-color: greenyellow;
}

.active {
  background-color: lightgreen;
}
a:link {
  color: white;
}
a:hover {
  color: blue;
  transition: 4s;
}
